:root {
  --bs-body-line-height: 14px;
  --bs-body-font-size: 12px;
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.trim-columns{
  max-width: 150px;
}

a:visited {
  color: #b97bff;
}

.table thead tr {
  border: 1px solid grey !important;
}

.table thead tr th {
  background-color: #515151 !important;
}

.table td {
  padding: 2px !important;
}

/* Highlighted job row */
tr.highlight-row > td{
  color: #00dfdf !important;
}

tr.highlight-row > td > button {
  background: #45959e !important;
}

@media (min-width: 1320px) {
  .apply-cell {
    max-width: 500px !important;
  }
  
  .first-last-seen {
    display: none !important;
  }
  
  .first-seen,
  .last-seen {
    display: table-cell !important;
  }
  
  .board-title-company {
    display: none !important;
    max-width: 150px !important;
  }
  
  .job-board,
  .company,
  .title{
    display: table-cell !important;
  }
}

@media (max-width: 1320px) {
  tr > td > button {
    margin: 5px;
  }
  
  .job-board{
    display: none;
  }
  
  .apply-cell {
    max-width: 100px !important;
  }
  
  .first-last-seen {
    display: table-cell !important;
  }
  
  .first-seen,
  .last-seen {
    display: none !important;
  }
  
  .board-title-company {
    display: table-cell !important;
    max-width: 150px !important;
  }
  
  .job-board,
  .company,
  .title{
    display: none !important;
  }
  
}